html {
	font-size: 100%
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', Georgia, serif;
  font-size: 42px;
  color: #29D9C2;
  text-align: left;
}

h1{
  font-size: 2rem;
}

p {
  color: #2F2933;
  font-family: 'Raleway', Helvetica, sans-serif;
  text-align: left;
  font-size: 1rem;
  line-height: 1.1rem;
}

body{
  background-color: #BDF271;
}

.header, .main, .aside, .footer{
  flex: 1 100%;
  padding: 10px;
}
.header {
	background-color: gray;
	text-align: center;
}
.main {
  text-align: left;

}

.wrapper{
	display: flex;
	flex-flow: row wrap;
  width: 95%;
  margin: auto;
  background-color: #FFFFCE;
  padding-bottom: .1px;
	text-align: center;
}
.h1wrapper{
	display: flex;
	flex-flow: row wrap;
	width: 95%;
	margin: auto;
	padding-bottom: .1px;
	text-align: center;
}

img {
  border-style: none;
	width: 100%;
}
.aside {
	background-color: #BDF271;
}

.footer {
	background-color: #BDF271;
	font-size: .8rem;
	text-align: left;
}

.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
	display: flex;
	flex-flow: column;
	justify-content: flex-center;
}

.nav a{
  display: block;
  color: #2F2933;
  background-color: #BDF271;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: lighter;
  font-size: .8rem;
  text-align: center;
  text-decoration: none;
  padding: 10px;
	border-top:1px solid black;
  border-bottom:1px solid white;
}


.navigation a{
  text-decoration: none;
  display: block;
  text-align:center;
  color: white;
  padding:10px;
  border-top:1px solid black;
  border-bottom:1px solid white;
}
.nav li:last-of-type a{
  border-bottom: none;
}

@media (min-width: 800px){
    .nav {
      flex-flow: row;
      justify-content: flex-center;
			margin-left: 25px;
			display: flex;
			justify-content: space-between;
  }
    .nav a:hover {
			background-color: #FFFFCE;
			color: #01A2A6;
    }

    .aside {
			order: 2;
    }

    .main {
			order: 1;
			display: flex;
    }

    .footer{
      order: 3;
    }

    img {
      width: 30%;
      height: 70%;
      margin: 10px;
			align-items: flex-end;
    }
    .nav a {
      border: none;
    }

		.main, .aside{
		  flex: 2 30%;
		  padding: 10px;
		}

		.h1wrapper{
			display: flex;
			width: 95%;
			margin: auto;
			justify-content: center;
		}
}
