h1{
  font-family: "Goudy Old Style", "Calisto MT", serif;
  font-size: 42px;
  font-weight: lighter;
  color: #F5D7EA;
}

p {
  color: #B3CBCC;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

body{
  background-color: #ebe3ce;
}

#center{
  width: 95%;
  margin: auto;
  background-color: #999999;
}

img {
  border-style: none;
}

#nav{
  padding: 0;
}

#nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav a:link, a:visited {
  display: block;
  color: #fff;
  font-weight: lighter;
  font-size: .8em;
  text-align: left;
  text-decoration: none;
  padding: 4px;
  font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
background-color: #FFF5F6;
color: black;
}
